.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(359deg, #ff3e00, #ffb051ba);
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-weight: 300;
 }